
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(57, 59, 199);
    color: rgb(241, 241, 246);
    padding: 10px;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    background-color:rgb(240, 221, 243);
    color: rgb(26, 26, 112);
    padding: 10px;
    border-radius: 10px;

}

.user-info {
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 50px;
    width: fit-content;
}
.albums-list {
    background-color: rgb(200, 197, 243);
    border-radius: 20px;
    padding: 50px;
    width: fit-content;
}

.post-list {
    background-color: rgb(201, 151, 248);
    border-radius: 20px;
    padding: 50px;
    width: fit-content;
}

.comment-list {
    color: white;
    background-color: rgb(71, 71, 155);
    border-radius: 20px;
    padding: 50px;
    width: fit-content;
    display: none;
}

.loaded {
}

.comment-list {
    display: none;
}

.visible {
    display: block;
}
